/* =================================================================== 
 *
 *  Kassandra Resume v1.0 Main Stylesheet
 *  20221222
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # typography & general theme styles
 *      ## preloader --- for projects?
 *  # buttons
 *  # additional components
 *      ## alert box
 *      ## additional typo styles
 *      ## pull quotes
 *
 * =================================================================== */

/* ===================================================================
 * # typography & general theme styles - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- */

/* ===================================================================
 * preloader - (_preloader-2.scss)
 *
 * ------------------------------------------------------------------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F1215;
    z-index: 800;
    height: 100%;
    width: 100%;
}

.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    background-color: #862121; /* MAROON */
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}



/* ===================================================================
 * # buttons - (_buttons.scss)
 *
 * ------------------------------------------------------------------- */

.btn, button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {
    display: inline-block;
    /*font-family: "montserrat-semibold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* semibold */
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: calc(5.4rem - .6rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    color: #151515;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c5c5c5;
    border: .3rem solid #c5c5c5;
}

.btn:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover, 
.btn:focus, button:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus, 
input[type="button"]:focus {
    /*background-color: #b8b8b8; /* GRAY *
    border-color: #b8b8b8; /* GRAY */
    background-color: #FF69B4;
    border-color: #FF69B4; /* PINK - FF69B4 */
    /*color: #000000;*/
    color: #FFFFFF;
    outline: 0;
}


/* button primary
 * ------------------------------------------------- */

.btn.btn--primary, 
button.btn--primary, 
input[type="submit"].btn--primary, 
input[type="reset"].btn--primary, 
input[type="button"].btn--primary {
    background: #0D0A0B;
    border-color: #0D0A0B;
    color: #FFFFFF;
}

.btn.btn--primary:hover, 
button.btn--primary:hover, 
input[type="submit"].btn--primary:hover, 
input[type="reset"].btn--primary:hover, 
input[type="button"].btn--primary:hover, 
.btn.btn--primary:focus, 
button.btn--primary:focus, 
input[type="submit"].btn--primary:focus, 
input[type="reset"].btn--primary:focus, 
input[type="button"].btn--primary:focus {
    /*background: #862121;  MAROON
    border-color: #862121; /* MAROON */
    background: #22dd26;  /* GREEN */
    border-color: #22dd26;  /* GREEN */
    color: black;
}


/* button modifiers
 * ------------------------------------------------- */

.btn.full-width, button.full-width {
    width: 100%;
    margin-right: 0;
    padding: 0;
}

.btn--medium, button.btn--medium {
    height: 5.7rem !important;
    line-height: calc(5.7rem - .6rem) !important;
}

.btn--large, button.btn--large {
    height: 6rem !important;
    line-height: calc(6rem - .6rem) !important;
}

.btn--stroke, button.btn--stroke {
    background: transparent !important;
    border: 0.3rem solid #000000;
    color: #000000;
}

.btn--stroke:hover, button.btn--stroke:hover {
    border: 0.3rem solid #862121; /* MAROON */
    color: #862121; /* MAROON */
}

.btn--pill, button.btn--pill {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    border-radius: 1000px !important;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/* =================================================================== 
 * # additional components - (_others.scss)
 *
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * ## alert box - (_alert-box.scss)
 * ------------------------------------------------------------------- */

.alert-box {
    padding: 2.1rem 4rem 2.1rem 3rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.5rem;
    line-height: 1.6;
}

.alert-box__close {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
}

.alert-box__close.im {
    font-size: 12px;
}

.alert-box--error {
    background-color: #ffd1d2;
    color: #e65153;
}

.alert-box--success {
    background-color: #c8e675;
    color: #758c36;
}

.alert-box--info {
    background-color: #d7ecfb;
    color: #4a95cc;
}

.alert-box--notice {
    background-color: #fff099;
    color: #bba31b;
}


/* ------------------------------------------------------------------- 
 * ## additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */


/* drop cap 
 * ----------------------------------------------- */

.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 1.5rem .6rem 0 0;
    font-size: 8.4rem;
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #000000;
}


/* line definition style 
 * ----------------------------------------------- */

.lining dt, .lining dd {
    display: inline;
    margin: 0;
}

.lining dt + dt:before, .lining dd + dt:before {
    content: "\A";
    white-space: pre;
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd:before {
    content: ": ";
    margin-left: -0.2em;
}


/* dictionary definition style 
 * ----------------------------------------------- */

.dictionary-style dt {
    display: inline;
    counter-reset: definitions;
}

.dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2em;
}

.dictionary-style dd {
    display: block;
    counter-increment: definitions;
}

.dictionary-style dd:before {
    content: counter(definitions, decimal) ". ";
}


/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *		<blockquote>
 *			<p></p>
 *		</blockquote>
 *	</aside>
 *
 * --------------------------------------------------------------------- */

.pull-quote {
    position: relative;
    padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before, .pull-quote:after {
    height: 1em;
    position: absolute;
    font-size: 10rem;
    font-family: Arial, Sans-Serif;
    color: rgba(0, 0, 0, 0.15);
}

.pull-quote:before {
    content: "\201C";
    top: -3.6rem;
    left: 0;
}

.pull-quote:after {
    content: '\201D';
    bottom: 3.6rem;
    right: 0;
}

.pull-quote blockquote {
    margin: 0;
}

.pull-quote blockquote:before {
    content: none;
}


/* ===================================================================
 * # common and reusable theme styles  - (_common-styles.scss)
 *
 * ------------------------------------------------------------------- */

.wide {
    max-width: 1400px;
}

.narrow {
    max-width: 800px;
}

/*@media only screen and (max-width: 400px) {*/
@media only screen and (max-width: 412px) {
/*@media only screen and (max-width: 6.2in) {*/
    .btn {
        font-size: 1.2rem;
    }
}