/* ===================================================================
 *
 *  Kassandra Resume v1.0 Main Stylesheet
 *  20221222
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # common and reusable theme styles
 *      ## blog-list
 *  # blog styles
 *      ## blog page header
 *      ## blog content
 *      ## comments
  =================================================================== */

/* ===================================================================
 * # blog - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

.s-blog {
    padding-top: 15rem;
    padding-bottom: 9.6rem;
    background-color: #FFFFFF;
    position: relative;
}

/* -------------------------------------------------------------------
 * ## blog-list - (_common-styles.scss)
 * ------------------------------------------------------------------- */

.blog-list {
    margin-top: 6rem;
    margin-left: 0;
}

.blog-list article {
    margin-bottom: 7.2rem;
}

.blog-list article:nth-child(2n+1) {
    padding-right: 50px;
}

.blog-list article:nth-child(2n+2) {
    padding-left: 50px;
}

.blog-list h2 {
    /*font-family: "montserrat-medium", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 500; /* medium */
    font-size: 3rem;
    line-height: 1.2;
    margin-top: .3rem;
    margin-bottom: 2.1rem;
    padding-bottom: 2.4rem;
    color: #0D0A0B;
    position: relative;
}

.blog-list h2 a {
    color: #0D0A0B;
}

.blog-list h2::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.15);
}

.blog-list .blog-date {
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.5rem;
    color: #862121; /* MAROON */
}

.blog-list .blog-date a {
    color: #862121; /* MAROON */
}

.blog-list .blog-date a:hover,
.blog-list .blog-date a:focus,
.blog-list .blog-date a:active {
    color: #000000;
}

.blog-list .blog-cat {
    /*font-family: "montserrat-medium", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 500; /* medium */
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #000000;
    margin-top: -.9rem;
}

.blog-list .blog-cat a {
    color: #000000;
}

.blog-list .blog-cat a:hover,
.blog-list .blog-cat a:focus,
.blog-list .blog-cat a:active {
    color: #862121; /* MAROON */
}

.blog-list .blog-cat a::after {
    content: ", ";
}

.blog-list .blog-cat a:last-child::after {
    display: none;
}


/* ===================================================================
 * # blog styles - (_blog.scss)
 *
 * ------------------------------------------------------------------- */

article.blog-single {
    background-color: #FFFFFF;
}

article.blog-single .blog-content {
    padding-top: 7.2rem;
    padding-bottom: 12rem;
}


/* -------------------------------------------------------------------
 * ## blog page header
 * ------------------------------------------------------------------- */

.page-header {
    background-color: #0D0A0B;
    background-repeat: no-repeat;
    background-position: center, center;
    padding-top: 20.4rem;
    padding-bottom: 7.2rem;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    min-height: 50.4rem;
}

.page-header--single {
    padding-top: 22.8rem;
    padding-bottom: 7.2rem;
    text-align: center;
}

.page-header::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    background-color: #0D0A0B;
}

.page-header::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}

.page-header__content {
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 2rem;
    line-height: 1.8;
    position: relative;
    max-width: 900px;
    z-index: 2;
}

.page-header__content p {
    padding-right: 3rem;
}

.page-header__info {
    margin-bottom: 1.2rem;
}

.page-header__info .div:last-child {
    margin-right: 0;
}

.page-header__cat, .page-header__date {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: .3rem;
}

.page-header__cat {
    font-size: 1.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .16rem;
    color: rgba(255, 255, 255, 0.8);
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
}

.page-header__cat a {
    color: rgba(255, 255, 255, 0.8);
}

.page-header__cat a:hover, .page-header__cat a:focus, .page-header__cat a:active {
    color: white;
}

.page-header__cat a::after {
    content: ", ";
}

.page-header__cat a:last-child::after {
    display: none;
}

.page-header__date {
    /*font-family: "montserrat-light", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 300; /* light */
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
}

.page-header__date a {
    color: rgba(255, 255, 255, 0.4);
}

.page-header__date a:hover, .page-header__date a:focus, .page-header__date a:active {
    color: white;
}

.page-header__title {
    color: #FFFFFF;
    position: relative;
    /*font-family: "librebaskerville-bold", serif;*/
    font-family: "Libre Baskerville", serif;
    font-weight: 700; /* bold */
    font-size: 6.6rem;
    line-height: 1.227;
    margin-top: 0;
    margin-bottom: 3.6rem;
}

.page-header__title a {
    color: #FFFFFF;
}

.page-header__meta {
    list-style: none;
    margin-left: 0;
    padding-top: 2.4rem;
    font-size: 1.6rem;
    position: relative;
}

.page-header__meta::before {
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
}

.page-header__meta li {
    display: inline-block;
    padding-left: 0;
    margin-right: 2rem;
}

.page-header__meta li::last-child {
    margin-right: 0;
}

.page-header__meta span, .page-header__meta a {
    color: #FFFFFF;
}

.page-header__btn {
    border-color: #FFFFFF !important;
    color: #FFFFFF;
    letter-spacing: .25rem;
}

.page-header__btn:hover, .page-header__btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

/* -------------------------------------------------------------------
 * ## blog content - _blog.scss
 * ------------------------------------------------------------------- */

.blog-content-wrap {
    background-color: #FFFFFF;
    padding-top: 4.2rem;
    padding-bottom: 12rem;
}

.blog-content {
    max-width: 1000px;
}

.blog-content__main {
    padding-left: 6rem;
    padding-right: 6rem;
}

.blog-content__main img {
    max-width: 1000px;
    margin: 3rem 0 3rem -6rem;
}


/* post tags
 * ------------------------------------------------- */

.blog-content__tags {
    margin-top: 6rem;
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
}

.blog-content__tags span {
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    color: #0D0A0B;
    position: relative;
    padding-right: 55px;
    margin-right: 1.5rem;
    margin-top: 1.2rem;
}

.blog-content__tags span::after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: 0;
}

.blog-content__tags .blog-content__tag-list {
    display: inline-block;
    padding-right: 0;
    margin-right: 0;
}

.blog-content__tags .blog-content__tag-list::after {
    display: none;
}

.blog-content__tags .blog-content__tag-list a {
    display: inline-block;
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.3rem;
    line-height: inherit;
    color: #797979;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 0 10px;
}

.blog-content__tags .blog-content__tag-list a:hover,
.blog-content__tags .blog-content__tag-list a:focus {
    background-color: #0D0A0B;
    border-color: #0D0A0B;
    color: #FFFFFF;
}

.blog-content__tags .blog-content__tag-list a:last-child {
    margin-right: 0;
}


/* blog single page navigation
 * ------------------------------------------------- */

.blog-content__pagenav {
    margin-top: 7.8rem;
    padding-top: 1.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.blog-content__nav {
    padding-right: 220px;
}

.blog-content__nav:after {
    content: "";
    display: table;
    clear: both;
}

.blog-content__nav span {
    display: block;
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.6rem;
    color: #797979;
    margin-bottom: 1.2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-content__nav a {
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0D0A0B;
}

.blog-content__nav a:hover span, .blog-content__nav a:focus span {
    color: #0D0A0B;
}

.blog-content__prev, .blog-content__next {
    width: 50%;
    float: left;
    padding-right: 2rem;
}

.blog-content__all {
    text-align: right;
    width: 210px;
    position: absolute;
    top: 2.1rem;
    right: 0;
}

.blog-content__all .im {
    font-size: 1.4rem;
    line-height: 1;
    margin-right: 8px;
    position: relative;
    top: 2px;
}


/* blog entries navigation
 * ------------------------------------------------- */

.blog-entries-nav {
    text-align: center;
    max-width: 600px;
    padding-top: 3.6rem;
}

.blog-entries-nav .btn {
    margin-right: 3rem;
    min-width: 150px;
}

.blog-entries-nav .btn:last-child {
    margin-right: 0;
}

.blog-entries-nav .im {
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    top: 2px;
}

/* -------------------------------------------------------------------
 * ## comments - _blog.scss
 * ------------------------------------------------------------------- */

.comments-wrap {
    background-color: #f0f0f0;
    padding: 8.4rem 0 9rem;
}


/* comments
 * -------------------------------------------------- */

#comments {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    max-width: 940px;
}

#comments h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#comments ol, #comments ul {
    list-style: none;
}

.commentlist {
    margin: 3rem 0 5.4rem;
    padding: 0;
}

.commentlist > .comment {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 1.8rem 0;
    padding-left: 14%;
}

.comment__avatar {
    position: absolute;
    left: 0;
    display: block;
    height: 6rem;
    width: 6rem;
}

.comment__avatar img {
    margin-top: 0.6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
}

.comment__info cite {
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    font-size: 1.8rem;
    font-style: normal;
    color: #0D0A0B;
}

.comment__meta {
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.45rem;
    line-height: 3rem;
    font-style: normal;
    display: block;
    color: rgba(0, 0, 0, 0.7);
}

.comment__meta .reply {
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
}

.comment__meta .sep {
    margin: 0 5px;
}

.comment__text {
    clear: both;
    margin: 1.8rem 0 0 0;
    padding: 0;
}

.comment ul.children {
    margin: 0;
    padding: 1.8rem 0 0 0;
}

.comment ul.children li {
    padding-left: 5%;
    padding-top: 1.8rem;
}


/* comments form
 * ---------------------------- */

#comments .respond {
    padding-top: 4.2rem;
}

#comments form {
    padding-top: 3rem;
}

#comments form .form-field {
    margin-bottom: 3.9rem;
}


/* -------------------------------------------------------------------
 * responsive:
 * blog-list
 * blog page header
 * blog content
 * comments
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .blog-list article:nth-child(2n+1) {
        padding-right: 40px;
    }
    .blog-list article:nth-child(2n+2) {
        padding-left: 40px;
    }
    .page-header__content {
        max-width: 800px;
        font-size: 1.7rem;
    }
    .page-header__cat {
        font-size: 1.3rem;
    }
    .page-header__title {
        font-size: 6rem;
    }
    .blog-content {
        max-width: 900px;
    }
    .blog-content__main {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .blog-content__main img {
        max-width: 900px;
        margin: 3rem 0 3rem -5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .blog-content {
        max-width: 800px;
    }
    .blog-content__main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .blog-content__main img {
        max-width: 800px;
        margin: 3rem 0 3rem -4rem;
    }
    .blog-content__prev, .blog-content__next {
        width: 100%;
        float: none;
        padding: 0;
        text-align: left;
        margin-bottom: 1.8rem;
    }
}

@media only screen and (max-width: 900px) {
    .page-header__content {
        max-width: 700px;
    }
    .blog-content__main {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-content__main img {
        max-width: 100%;
        margin: 3rem 0 3rem;
    }
}

@media only screen and (max-width: 800px) {
    .blog-list article:nth-child(n) {
        padding: 0 15px;
    }
    .page-header--single {
        padding-top: 18rem;
    }
    .page-header__title {
        font-size: 5.4rem;
    }
    .blog-content__nav {
        padding-right: 0;
    }
    .blog-content__all {
        position: static;
        text-align: left;
        width: auto;
        margin-top: 1.8rem;
    }
    #comments form button {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .page-header {
        padding-top: 18rem;
    }
    .page-header__content p {
        padding-right: 0;
    }
    .page-header__title {
        font-size: 4.8rem;
    }
    .blog-list article:nth-child(n) {
        padding: 0;
    }
    .blog-list h2 {
        font-size: 2.7rem;
    }
    .blog-content__prev, .blog-content__next, .blog-content__all {
        text-align: center;
    }
    .blog-content__main {
        padding-left: 10px;
        padding-right: 10px;
    }
    #comments h3 {
        text-align: center;
    }
    .commentlist > .comment {
        padding-left: 0;
    }
    .commentlist .comment__avatar {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .page-header__title {
        font-size: 4.2rem;
    }
    .blog-entries-nav .btn {
        margin-right: 0;
        min-width: none;
        width: 100%;
    }
}

/*@media only screen and (max-width: 400px) {*/
@media only screen and (max-width: 481px) {
/*@media only screen and (max-width: 6.2in) {*/
    .page-header__content {
        font-size: 1.6rem;
        line-height: 1.875;
    }
    .page-header__title {
        font-size: 3.8rem;
    }
    .blog-content__main {
        padding-left: 0;
        padding-right: 0;
    }
    .blog-content__all .btn {
        width: 100%;
    }
}
