/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For:  BUTTONS -
    20221212
    -----------------------------------------

    TOC TBD

 *===========================================================================*/

 /* -----------------------------------------------------------
    HOME
 /* -----------------------------------------------------------*/

 /* btn--stroke */
/*.btn-stroke, button.btn-stroke {*/
.btn--stroke, button.btn--stroke {
    background: transparent !important;
    border: 0.3rem solid #000000;
    color: #000000;
}

/*.btn-stroke:hover, button.btn-stroke:hover {*/
.btn--stroke:hover, button.btn--stroke:hover {
    border: 0.3rem solid #862121;
    color: #862121;
}