/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For:  integrated / updated CSS style needs -
    20221212
    -----------------------------------------

    TOC TBD
    # Prettyprint GitHub Theme

 *===========================================================================*/

/* https://github.com/googlearchive/code-prettify */
.prettyprint {
    background: #F1F1F1;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: none;
}




