/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For Mobile Version -
    20221212
    -----------------------------------------

    TOC TBD
/*===========================================================================*

/* mobile menu toggle:  hdr-menu-tgl */
/*.hdr-menu-tgl {*/
.header-menu-toggle {
    display: none;
    position: absolute;
    right: 29px;
    top: 18px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    /*font-family: "montserrat-regular", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*.hdr-menu-tgl:hover, .hdr-menu-tgl:focus {*/
.header-menu-toggle:hover, .header-menu-toggle:focus {
    color: #FFFFFF;
}

/*.hdr-menu-tgl span {*/
.header-menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    left: 9px;
    top: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: -9px;
}

.header-menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
    background-color: white;
}

.header-menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}