/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For:  SECTIONS -
    20221212
    -----------------------------------------

    TOC TBD

 *===========================================================================*/

 .no-js #preloader, .oldie #preloader {
    display: none;
}

.wide {
    max-width: 1400px;
}

.narrow {
    max-width: 800px;
}

/*#Contact .narrow {
    max-width: 800px;
}*/

#Education {
    background-color: red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#Contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
}