/* ===================================================================
 *
 *  Kassandra Keeton Resume v1.0 HELPER Stylesheet
 *  20221221
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # misc helper styles
    # highlights for text (for easier reading)
 *
 * =================================================================== */

/* Misc Helper Styles
 * -------------------------------------- */

.is-hidden {
    display: none;
}

.is-invisible {
    visibility: hidden;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* only for MacOS */
}

.overflow-hidden {
    overflow: hidden;
}

.remove-bottom {
    margin-bottom: 0;
}

.half-bottom {
    margin-bottom: 1.5rem !important;
}

.add-bottom {
    margin-bottom: 3rem !important;
}

.no-border {
    border: none;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* ===========================================
    Highlights For Text
   ===========================================*/

.str-BG-pink-lt {
    /*background-color: #FFB6C1;
    opacity: 0.3;*/
    background-color: rgba(255,182,193, 0.35);
    /*color: inherit;*/
    color: black;
    padding-left: 3px;
    padding-right: 3px;
}

.str-BG-green-lt {
    /*background-color: #08CC1F;
    opacity: 0.3;*/
    background-color: rgba(8,204,31, 0.14);
    /*color: inherit;*/
    color: black;
    padding-left: 3px;
    padding-right: 3px;
}

.str-HL-pink-lt {
    color: #FFB6C1;
    font-weight: bold;
}
.str-HL-pink-lt:hover {
    color: #08CC1F;
}

.str-HL-pink-drk {
    color: #FF69B4;
    font-weight: bold;
}

.str-HL-green-lt {
    color: #08CC1F;
}
.str-HL-green-lt:hover {
    color: #FFB6C1;
}

.str-HL-green-drk {
    color: #15AD30;
}

.str-HL-darkred {
    color: #D61A00;
}

.str-testimonial-names {
    color: white;
}
.str-testimonial-names:hover {
    color: #15AD30;
}

.push-rt {
    margin-left: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}
.two-col {
  flex: 50%;
  /*padding: 20px;*/
}

/*@media only screen and (max-width: 412px) { -- could also use in*/
@media only screen and (max-width: 500px) {
    /* On screens that are 500px wide or less,
    make the columns stack on top of each other
    instead of next to each other */
    .flex-row {
        flex-direction: column;

    }
}
