/* ===================================================================
 *
 *  Kassandra Resume v1.1 HOME Section Stylesheet
    20221227
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # home section
 *      ## home content
 *      ## home social
 *      ## home animations
        ## responsive HOME needs
  ===================================================================*/

/* ===================================================================
 * # header styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

 #home .h02 {
    font-family: 'Comfortaa', cursive;
    color:white;
    font-size: 3rem;
    line-height: 1.2;
    padding-right: 1rem;
 }

#home .name {
    font-family: 'Grandstander', cursive;
    font-weight: 200; /* extra-light */
}

/* ===================================================================
 * # home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

.reposition-home-img { /* need to position for face */
    background-position: 25% 75%;
}

/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax2 { /* parallax without JS */
    /* The image used */
    background-image: url("../../IMGs/20180108.jpg");

    /* Set a specific height */
    /*min-height: 500px;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position: center;*/
    background-position: 20%, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s-home {
    width: 100%;
    height: 100%;
    min-height: 786px;
    background-color: transparent;
    position: relative;
    display: table;
}

.s-home .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.s-home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #111111;
}

.no-js .s-home {
    background: #0D0A0B;
}


/* -------------------------------------------------------------------
 * ## home content - (_site-layout.scss)
 * ------------------------------------------------------------------- */

.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    /*padding-bottom: 19.2rem;*/
    padding-bottom: 15rem;
    position: relative;
}

.home-content h3 {
    color: #862121; /* MAROON */
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 700; /* bold */
    letter-spacing: .5rem;
    margin-bottom: .6rem;
    margin-left: -30px;
    padding-left: 80px;
    position: relative;
    text-transform: uppercase;
}

.home-content h3::before {
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    /*background-color: #862121;*/ /* MAROON */
    background-color: #FF69B4;
    margin-top: -1.5px;
    position: absolute;
    left: 0;
    top: 50%;
}

/*.home-content h1 {*/
.home-content .h01 {
    color: #FFFFFF;
    /*font-family: "Libre Baskerville", serif;*/
    font-family: 'Readex Pro', sans-serif;
    font-size: 6rem;
    font-weight: 700; /* bold */
    /*line-height: 1.35;*/
    line-height: 7rem;
    margin-top: 0;
}

.home-content__main {
    /*padding-right: 300px;*/
    position: relative;
    /*display: flex;
    flex-flow: column nowrap;*/
}

.home-content__buttons {
    /*position: absolute;*/
    right: 0;
    bottom: 2.1rem;
    text-align: center;
}

.home-content__buttons .btn {
    display: block;
    width: 210px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    /*margin: 1.5rem 0 0 0;*/
    letter-spacing: .25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn:hover,
.home-content__buttons .btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

.home-content__scroll {
    position: absolute;
    left: .6rem;
    /*bottom: -13.2rem;*/
    bottom: -3.8rem;
}

.home-content__scroll a {
    color: #FFFFFF;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* semibold */
    font-size: 1.1rem;
    letter-spacing: .3rem;
    line-height: 3rem;
    padding-right: 2rem;
    position: relative;
    text-transform: uppercase;
}

.home-content__scroll a::after {
    /*border-bottom: 2px solid #922424; /* MAROON */
    /*border-right: 2px solid #922424; /* MAROON */
    border-bottom: 2px solid #FF69B4; /* DARK PINK */
    border-right: 2px solid #FF69B4; /* DARK PINK */
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}


/* -------------------------------------------------------------------
 * ## home social - (_site-layout.scss)
 * ------------------------------------------------------------------- */

.home-social {
    bottom: 0;
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* bold */
    list-style: none;
    margin: 0;
    padding-bottom: 14.5rem;
    position: absolute;
    right: 40px;
}

.home-social::after {
    display: block;
    content: "";
    height: 17.4rem;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute;
    bottom: 0;
    right: .75rem;
}

.home-social a {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-social li {
    position: relative;
    height: 3.6rem;
}

.home-social i, .home-social span {
    position: absolute;
    top: 0;
    line-height: 3.6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-social i {
    font-size: 1.8rem;
    right: 0;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.home-social span {
    /*color: #af2b2b;*/
    color: #FF69B4;
    right: 3.6rem;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.home-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.home-social li:hover i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* animate .home-content__main
 * ------------------------------------------------------------------- */

html.ss-preload .home-content__main {
    opacity: 0;
}

html.ss-loaded .home-content__main {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
    opacity: 1;
}


/* -------------------------------------------------------------------
 * ## home animations - (_site-layout.scss)
 * ------------------------------------------------------------------- */

/* bounce */

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


/* fade in */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* fade out */

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -150%, 0);
        -ms-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
    }
}


/* -------------------------------------------------------------------
 * responsive:
 * home
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
    /*.home-content h1 {*/
    .home-content .h01 {
        font-size: 5.2rem;
    }
    .home-content__main {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1200px) {
    /*.home-content h1 {*/
    .home-content .h01 {
        font-size: 5rem;
    }
    .home-content br {
        display: none;
    }
    .home-content__main {
        max-width: 800px;
    }
    .home-content__buttons {
        right: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    /*.home-content h1 {*/
    .home-content .h01 {
        font-size: 4.8rem;
    }
    .home-content__main {
        padding-right: 40px;
        max-width: 680px;
    }
    .home-content__buttons {
        position: static;
        text-align: left;
    }
    .home-content__buttons .btn {
        display: inline-block;
        margin-right: .9rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-content h3 {
        font-size: 1.6rem;
        padding-left: 50px;
        margin-left: -10px;
    }
    .home-content h3::before {
        width: 40px;
    }
    /*.home-content h1 {*/
    .home-content .h01 {
        font-size: 4.4rem;
    }
    .home-content__main {
        max-width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .home-content {
        padding-bottom: 15rem;
    }
    /*.home-content h1 {*/
    .home-content .h01 {
        font-size: 4.2rem;
    }
    .home-content__main {
        max-width: 380px;
        padding: 0;
    }
    .home-content__scroll {
        bottom: -3rem;
    }
    .home-social {
        padding-bottom: 10.8rem;
    }
    .home-social::after {
        height: 10.2rem;
    }
}

/*@media only screen and (max-width: 412px) { -- could also use in*/
@media only screen and (max-width: 500px) {
    .s-home {
        min-height: 654px;
    }
    #home .home-content .flex-row {
        /*padding-top: 33%;*/
        padding-left: 0px;
        /*padding-right: 8rem;*/
    }
    /*#home .home-content .flex-row .two-col {
        width: 80%;
    }*/
    .home-content {
        vertical-align: middle;
        /*width: 100%;
        height: 100%;
        vertical-align: bottom;*/
        padding-bottom: 10rem;
        margin-bottom: 0px;
    }
    /*.home-content h1 {
        font-size: 3.5rem;
    }*/
    .home-content .h01 {
        align-content: center;
        align-items: center;
        display: flex;
        font-size: 3.8rem;
        flex-flow: row nowrap;
        gap: 1px;
        /*letter-spacing: -.07rem;
        line-height: 6rem;*/
        line-height: 4rem;
    }
    #home .home-content .row .h02 { /* succinct */
        font-size: 2.7rem;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
    }
    .home-content h3 {
        font-size: 1.5rem;
    }
    .home-content__main {
        max-width: none;
        width: 85%;
        margin-top: 0px;
        /*width: auto;*/
        margin-left: 25px;
        margin-right: 25px;
    }
    .h-intro {
        padding-top: 24.8rem;
    }
    #home .home-content__buttons {
        width:  80%;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: auto;
    }
    .home-content__buttons .btn {
        width: 100%;
    }
    .home-content__scroll {
        /*position: absolute;
        left: .6rem;
        /*bottom: -13.2rem;*/
        bottom: -3rem;
    }
    .home-social {
        /*display: none;*/
        padding-bottom: 9.848rem;
    }
}

@media only screen and (max-width: 400px) {
    #home .home-content .row .h02 { /* succinct */
        font-size: 2.4rem;
        width: 95%;
        padding-top: 0px;
        margin-top: 0px;
    }
    .h-intro {
        padding-top: 66%;
    }
}

@media only screen and (max-width: 400px) and (min-height: 700px) {
    #home .home-content .row .h02 { /* succinct */
        font-size: 1.35em;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
    }
    .h-intro {
        padding-top: 17.5em;
    }
}

@media only screen and (min-height: 850px) {
    #home .home-content .row .h02 { /* succinct */
        font-size: 1.5em;
        width: 100%;
    }
    .h-intro {
        padding-top: 23.9em;
    }
}

@media only screen and (max-width: 400px) and (min-height: 840px) {
    #home .home-content .row .h02 { /* succinct */
        font-size: 1.45em;
        width: 100%;
        padding-top: 0px;
        margin-top: 0px;
    }
    .h-intro {
        padding-top: 21em;
    }
}
