/* -------------------------------------------------------------------
 * ## go to top
 * ------------------------------------------------------------------- */

 .go-top {
    /* display: none; */
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
    /* display: none; */
}

.go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    /*background: black;*/
    background: #FF69B4; /* dark pink */
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go-top a i, .go-top a:visited i {
    font-size: 12px;
    line-height: inherit;
}

.go-top a:hover, .go-top a:focus {
    color: #FFFFFF;
}

/* .go-top::before {
    /* display:none; *
    all: revert;
} */

/* #GoTop .scrolling {
    display: block;
} */