/* ===================================================================
 *
 *  Kassandra Resume v2.0 ABOUT Section Stylesheet
    20230206
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # about
        ## section + responsive needs
  ===================================================================*/

/* ===================================================================
 * # about - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

.s-about {
    /*padding-top: 10rem;*/
    padding-bottom: 1rem;
    background-color: #FFFFFF;
    position: relative;
}

.about-content {
    padding: 1rem;
}

.about-content .left {
    padding-right: 40px;
}

.about-content .right {
    padding-left: 40px;
}

/* -------------------------------------------------------------------
 * responsive:
 * about
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
    .about-content .left {
        padding-right: 30px;
    }
    .about-content .right {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .about-content .left {
        padding-right: 20px;
    }
    .about-content .right {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .about-content {
        max-width: 600px;
    }
    .about-content .left {
        padding-right: 15px;
    }
    .about-content .right {
        padding-left: 15px;
    }
    .about-content .right .timeline {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .about-content .left {
        padding-right: 10px;
    }
    .about-content .right {
        padding-left: 10px;
    }
    .s-about p.lead { /* .lead is in bootstrap */
        /*padding: 0px;*/
        font-size: 1.7rem;
        padding-bottom: 2rem;
    }
    p {
        font-size: 1.3rem;
    }
}

/*@media only screen and (max-width: 412px) { -- could also use in*/
@media only screen and (max-width: 500px) {
    /*#about h1 { /* replaed by sec-light-hdr-title 
        font-size: 3.1rem;
    }*/
    .sec-light-hdr-title {
        font-size: 3.1rem;
    }
    #about .section-intro {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #about p {
        font-size: 1.75rem; /* less than p .ead */
        /*padding-bottom: 2.2rem;*/
    }
    #about p.lead {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
    .about-content .left {
        padding-right: 0;
    }
    .about-content .right {
        padding-left: 0;
    }
    .about-content .btn {
        font-size: 1rem;
    }
    .s-about p.lead { /* .lead is in bootstrap */
        padding-bottom: 1rem;
        margin-bottom: 0px;
    }
    p {
        font-size: 1.4rem;
    }
}
