/* ===================================================================
 *
 *  Kassandra Resume v2.0 FOOTER Section Stylesheet
 *  20230206
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  # footer
 *      ## go to top
        ## responsive needs
 *
 * =================================================================== */

 /* ===================================================================
 * # footer - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

footer {
    color: rgba(255, 255, 255, 0.2);
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Noto Sans Cherokee', sans-serif;
    font-size: 14px;
    font-weight: 400; /* regular */
    /* padding: 6.6rem 0 4.2rem; */
    /* padding: 3rem 0 2rem; */
    text-align: center;
    height: 100%;
    width: 100%;
    /* margin-bottom: 8.1rem; */
    padding-top: 6.6rem;
    padding-bottom: 2rem;
}

footer a, footer a:visited {
    color: #ff69b45f; /* MAROON */
}

footer a:hover, footer a:focus {
    color: #FFFFFF;
}

.footer-logo {
    display: inline-block;
}

.footer-site-logo {
    display: block;
    width: 130px;
}

.footer-social {
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Noto Sans Cherokee', sans-serif;
    font-size: 1.3rem;
    font-weight: 400; /* regular */
    letter-spacing: .3rem;
    list-style: none;
    margin-left: 0;
    margin-top: 3rem;
    text-transform: uppercase;
}

.footer-social:after {
    content: "";
    display: table;
    clear: both;
}

.footer-social li {
    display: inline-block;
    padding-left: 0;
    margin-right: .9rem;
    line-height: 3.9rem;
    vertical-align: middle;
}

.footer-social li::after {
    content: "|";
    color: rgba(255, 255, 255, 0.15);
    padding-left: .9rem;
}

.footer-social li i {
    font-size: 1.7rem;
    line-height: 3rem;
    vertical-align: middle;
}

.footer-social li span {
    margin-left: .6rem;
}

.footer-social li a {
    color: #FFFFFF;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social li:last-child::after {
    display: none;
}

.footer-social span {
    color: #08CC1F;
}

.footer-social span:hover {
    color: #FF69B4;
}

.footer-bottom {
    margin-top: .5rem;
    text-align: center;
    height: 100%;
    padding-bottom: 5.5rem;
}

.footer-bottom .copyright span {
    display: inline-block;
    /* line-height: 1.2rem; */
}

.footer-bottom .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
    display: none;
}


/* -------------------------------------------------------------------
 * responsive:
 * footer
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
    footer {
        padding-top: 3.5rem;
        /* padding-bottom: 5.5rem; */
    }
    .footer-social li {
        margin-right: 1.8rem;
    }
    .footer-social li span, .footer-social li::after {
        display: none;
    }
    .footer-social li i {
        font-size: 2.4rem;
    }
    .footer-bottom {
        /* padding-bottom: .6rem; */
    }
    .footer-bottom .col-twelve {
        padding: 0px;
    }
    .footer-bottom .copyright span {
        display: block;
        font-size: 1rem;
    }
    .footer-bottom .copyright span::after {
        display: none;
    }
    .footer-social {
        margin: 1.5rem;
        padding: 0px;
    }
}

/*@media only screen and (max-width: 412px) { -- could also use in*/
@media only screen and (max-width: 500px) {
    .footer-site-logo {
        width: 100px;
    }
    /* .footer-social li {
        margin-right: 1.2rem;
    } */
    .footer-social li i {
        font-size: 2.2rem;
    }
}