/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For Personal Resume:  BLOG -
    20221213
    -----------------------------------------

    TOC TBD

 *===========================================================================*/

 /* ===================================================================
 * # blog - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

.s-blog {
    padding-top: 15rem;
    padding-bottom: 9.6rem;
    background-color: #FFFFFF;
    position: relative;
}