/*===========================================================================*
    Resume site for Kassandra Keeton
    - Style Sheet For Personal Resume:  HEADER -
    20221212
    -----------------------------------------

    TOC TBD

 *===========================================================================*/

/* outer DIV for main header */
/* to be changed to:  hdr-style */
.s-header {
    width: 100%;
    height: 72px;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 500;
}

.s-header.offset {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.s-header.scrolling {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* https://www.w3schools.com/howto/howto_css_sticky_element.asp */
.s-header.sticky {
    position: fixed;
    top: 0;
    background-color: #000000 !important;
    opacity: 0;
    visibility: hidden;
    z-index: 600;
}

/* hdr-logo from header-logo */
.s-header.sticky .header-logo a {
    margin: 0;
}

/*.s-header.sticky .hdr-nav-wrap {*/
.s-header.sticky .header-nav-wrap {
    top: 0;
}

/* ------------------------------------------------ */

/* DIV for logo - in top nav bar */
.header-logo {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 501;
}

/* link CSS for .hdr-logo */
.header-logo a {
    display: block;
    margin: 9px 0 0 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 80px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* TODO:  need to include in @media only screens for responsive header */

/* ------------------------------------------------ */
/* NAVIGATION
/* ------------------------------------------------ */
/*.hdr-nav-wrap {*/
.header-nav-wrap {
    /*font-family: "montserrat-bold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-style: "bold";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    position: absolute;
    top: 9px;
    right: 50px;
}

/* TODO:  need to include in @media only screens for responsive header */

/*.hdr-nav {*/
.header-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    height: 72px;
}

/*.hdr-nav li {*/
.header-nav li {
    display: inline-block;
    padding-left: 0;
    margin-right: 2rem;
}

/*.hdr-nav li a {*/
.header-nav li a {
    display: block;
    line-height: 72px;
    color: #FFFFFF;
}

/*.hdr-nav li.live a {*/
.header-nav li.live a {
    /*font-family: "montserrat-extrabold", sans-serif;*/
    font-family: "Montserrat", sans-serif;
    font-style: "extrabold";
    color: #af2b2b;
}

/* TODO:  need to include in @media only screens for responsive header */

/* -------------------------------------------------------------------
 * responsive:
 * home
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
    .home-content h1 {
        font-size: 5.2rem;
    }
    .home-content__main {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1200px) {
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content br {
        display: none;
    }
    .home-content__main {
        max-width: 800px;
    }
    .home-content__buttons {
        right: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .home-content h1 {
        font-size: 4.8rem;
    }
    .home-content__main {
        padding-right: 40px;
        max-width: 680px;
    }
    .home-content__buttons {
        position: static;
        text-align: left;
    }
    .home-content__buttons .btn {
        display: inline-block;
        margin-right: .9rem;
    }
}

@media only screen and (max-width: 800px) {
    .home-content h3 {
        font-size: 1.6rem;
        padding-left: 50px;
        margin-left: -10px;
    }
    .home-content h3::before {
        width: 40px;
    }
    .home-content h1 {
        font-size: 4.4rem;
    }
    .home-content__main {
        max-width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .home-content {
        padding-bottom: 15rem;
    }
    .home-content h1 {
        font-size: 4.2rem;
    }
    .home-content__main {
        max-width: 380px;
        padding: 0;
    }
    .home-content__scroll {
        bottom: -9rem;
    }
    .home-social {
        padding-bottom: 10.8rem;
    }
    .home-social::after {
        height: 10.2rem;
    }
}

@media only screen and (max-width: 500px) {
    .s-home {
        min-height: 654px;
    }
    .home-content h3 {
        font-size: 1.5rem;
    }
    .home-content h1 {
        font-size: 3.8rem;
    }
    .home-content__main {
        max-width: none;
        width: 85%;
        margin-top: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .home-content {
        vertical-align: middle;
    }
    .home-content h1 {
        font-size: 3.5rem;
    }
    .home-content__main {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
    .home-content__buttons .btn {
        width: 100%;
    }
    .home-social {
        display: none;
    }
}